<div class="columns" *ngIf="album">
  <div class="column is-3">
    <app-poster [album]="album" size="lg"></app-poster>
  </div>
  <div class="column">
    <h1 class="title">{{album.name | uppercase}}</h1>
    <table class="table">
      <thead>
        <tr>
          <th>number</th>
          <th>track name</th>
          <th>duration</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.is-danger]="(track.duration_ms | msToMinutes) < 4" *ngFor="let track of album?.tracks.items">
          <td >
            <span  >{{track.track_number}}</span>
          </td>
          <td>
            {{track.name}}
          </td>
          <td>
            {{track.duration_ms | msToMinutes:true}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>