<nav class="nav has-shadow">

  <div class="container ">

    <nav class="nav-left">

      <a routerLink="" class="nav-item is-tab" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-active">Home</a>
      <a routerLink="spotify" class="nav-item is-tab" routerLinkActive="is-active">Music</a>
      <a routerLink="contact" class="nav-item is-tab" routerLinkActive="is-active">Contact</a>
    </nav>


  </div>
</nav>

<div class="container">

<!--<h1 (click)="handleClick()">
  {{title}}
</h1>-->
<router-outlet></router-outlet>
</div>
<!--<ma-home [owner]="title" (timePassed)="handleTime($event)"></ma-home>-->

